rethinkdb:
  image: 'rethinkdb:2.3'
  command: 'rethinkdb --server-tag primary --server-name rethinkdb --bind all --driver-port 28016 --cluster-port 29016 --http-port 8082'
  ports:
    - '8082:8082'
    - '28016:28016'
    - '29016:29016'
  restart: always
  volumes:
    - '/data/rethinkdb:/data/rethinkdb_guitarjournal_data'
